<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@next"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">

        <h1 class="text-center">{{ activity }} Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Records</h2>
            <div class="card-body">
               
                <div class="alert alert-danger" v-if="errors.length > 0">
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>

                <div class="form-group">
                    <label class="form-label" for="date">What date did you {{ activity }}</label>
                    <input id="date" class="form-control" type="date" v-model="dateString">
                    <small id="date-help" class="form-text text-muted">
                        Date must be today or in the past.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="hours">How many hours did you practice for?</label>
                    <!-- TODO use v-model to connect this input to hours data -->
                    <input id="hours" class="form-control" type="number" min="0" max="24" v-model.number="hours">
                    <small id="hours-help" class="form-text text-muted">
                        Enter a number of hours, more than 0, up to a maximum of 24
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="type">What type?</label>
                    <select id="type" class="form-control" v-model="type">
                        <option v-for="activityType in types">{{ activityType }}</option>
                    </select>
                </div>

                <div class="form-label pb-2">
                    What language?
                </div>

                <div class="form-check-inline">
                    <input id="media1" class="form-check-input" type="radio" value="Javascript" v-model="language">
                    <label class="form-check-label" for="media1">Javascript</label>
                </div>

                <div class="form-check-inline">
                    <input id="media2" class="form-check-input" type="radio" value="Python" v-model="language">
                    <label class="form-check-label" for="media2">Python</label>
                </div>

                <div>
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                </div>
                
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Records</h2>

            <div class="card-body">

                <h3> {{ totalRecordsMessage }} records</h3>

                <div id="records">
                    <table class="table table-hover">
                        <tr>
                            <th>Date</th>
                            <th>How many hours?</th>
                            <th>Type</th>
                            <th>Media</th>
                        </tr>
                        <tr v-for="record in activityRecords">
                            <td>{{ shortDate(record.date) }}</td>
                            <td>{{ record.hours }}</td>
                            <td>{{ record.type }}</td>
                            <td>{{ record.language }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">

                <p>You have practiced a total of {{ totalHours }} hours</p>

                <!-- Challenge question! Display a list of the total hours for each type.  -->
          
            </div>
        </div>

    </div>

    <script>

    //   TODO create new Vue app here

    let app = Vue.createApp({
        data() {
            return {
                activity: 'Practice Programming',
                activityRecords: [],
                dateString: [],
                hours: 1,
                type: 'Writing',
                language: 'Javascript',

                types: ['Writing', 'Reading', 'Debugging'],

                errors: []
            }
        },
        methods: {
            submit() {
                this.errors = []

                let date = new Date(this.dateString)

                if (!this.dateString || this.dateString === 'Invalid Date' || date > new Date() ) {
                    this.errors.push('Select a valid date, today or in the past.')
                }

                if (this.hours <= 0 || this.hours >24) {
                    this.errors.push('The number of hours must be greater than 0 and less than 25')
                }

                if (!this.type) {
                    this.errors.push('Select a type')
                }

                if (!this.language) {
                    this.errors.push('Select a language')
                }

                if (this.errors.length === 0) {
                    let record = {
                        date: date,
                        hours: this.hours,
                        type: this.type,
                        language: this.language
                    }

                    this.activityRecords.push(record)

                    this.activityRecords.sort(function(r1, r2) {
                        return r1.date.getTime() - r2.date.getTime()
                    })
                }
            },
            shortDate(date) {
                return new Intl.DateTimeFormat('en-US', {timeZone: 'UTC'}).format(date)
            }
        },
        computed: {
            totalRecordsMessage() {
                if (this.activityRecords.length === 1) {
                    return '1 record'
                } else {
                    return this.activityRecords.length + ' records'
                }
            },
            totalHours() {
                let total = 0
                this.activityRecords.forEach(function(record) {
                    total = total + record.hours
                })
                return total
            }
        }
    })


    app.mount('#app')

    </script>

</body>

</html>